@model IEnumerable<ASP_PROJECT_MPT.Models.FileModel>

@{ 
    ViewData["Title"] = "Добавление файла";
}
<h3>Выбрать файл для загрузки</h3>
<form asp-action="AddFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/><br>
    <input type="submit" value="Отправить"/>
</form>

<h3>Files</h3>
<div id="chatroom">
    @foreach (var f in Model)
    {
        <p><img width="200" height="200" src="@Url.Content(f.Path)" /></p>
    }
</div>

<script>

    $(chatroom).append('<p><img width="200" height="200" /></p>');
    const downloadAnchor = $(chatroom).find('img:last');

</script>