@model ASP_PROJECT_MPT.Models.User

@{
    ViewData["Title"] = "Сбросить пароль";
}

<h2>@ViewData["Title"]</h2>
<h4>
    
</h4>
<form asp-controller="ForReg" asp-action="ForgotPasswordConfirmation" class="form-horizontal">
    <h4>Для сброса пароля введите код, который был отправлен вам на E-mail.</h4>
    <hr />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="text" asp-for="Code" placeholder="Код подтверждения" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Email" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Login" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="RoleId" />
    </div>
    <div class="form-group">
        <input type="password" asp-for="Password" placeholder="******" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-default" />
    </div>
</form>